 body{
  padding: 0;
  margin: 0;

  font-family: 'Volte', sans-serif;
  font-weight: 400;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/*====================*/


.header_section{
    background-image: url(../background/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}

.custom_container{
max-width: 1300px;
  width: 100%;
  margin: auto;
}
.header_contant{
  display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 57px;
}
.nav_manu{
    margin-right: 75px;
}
.nav_manu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_manu ul li{
    margin-right: 57px;
}

.nav_manu ul li a{
color: #FFF;
font-family: Volte;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: 50px;
}
.login_button{

}
.login_button a{
  color: #9E00BF;
    font-family: Volte;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    border-radius: 29.5px;
    background: #FFF;
    padding: 5px 47px;
}


.banner_contant{
    padding-top: 128px;
}
.banner_contant h1{
    color: #FFF;
    font-family: Volte;
    font-size: 75px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    padding-bottom: 50px;
}
.banner_contant p{
    color: #FFF;
    font-family: Volte;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    padding-bottom: 120px;
}
.banner_button{
padding-bottom: 355px;
}
.banner_button a{
color: #9E00BF;
    font-family: Volte;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 50px;
    border-radius: 74px;
    background: #FFF;
    padding: 20px 50px;
}

/*==start_about_section==*/
.about_section{
padding-top: 80px;
}
.custom_container{

}
.about_area{

}
.about_area_heading h1{
color: #9E00BF;
    text-align: center;
    font-family: Volte;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.about_area_heading p{
color: #4A4A4A;
    text-align: center;
    font-family: Volte;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px;
    padding-bottom: 90px;
}
.header_contants{
display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.header_contants_full{
align-items: center;
}
.header_contants_full img{

}
.header_contants_full h1{
    color: #9E00BF;
    text-align: center;
    font-family: Volte;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    padding: 30px 0px;
}
.header_contants_full p{
    color: #4A4A4A;
    text-align: center;
    font-family: Volte;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    padding-bottom: 100px;
}
}
